/*.container{
    margin-top: 100px;
}
.square{
    height: 50px;
    width: 50px;
    margin: 20px;
}
.square1{
    background-color: aquamarine;
    transition: transform 0.5s ease;
}
.square2{
    background-color: rgb(204, 21, 91);
    transition: transform 0.5s ease-in;
}
.square3{
    background-color: rgb(93, 204, 33);
    transition: transform 0.5s ease-out;
}
.square4{
    background-color: rgb(3, 6, 67);
    transition: transform 0.5s ease-in-out;
}
.square5{
    background-color: rgb(60, 116, 155);
    transition: transform 0.5s linear;
}
.container:hover .square{
    transform: translateX(500px);
}
.bigSquare{
    height: 200px;
    width: 200px;
    border: 3px black;
    background-color: brown;
    transition: border-color 1s ease-in;
}
.bigSquare:hover{
    border-color: rgb(12, 2, 21);
}*/
div{
    height: 300px;
    width: 300px;
    background-image: repeating-linear-gradient(
        60deg, aqua, black 10px, hotpink 10px, magenta 15px
    );
    transition: all 2s ease-in-out;
}
div:hover{
    background-image: linear-gradient(10deg, magenta, limegreen, violet);
    margin-left: 500px;
    transform: rotate(-700deg) skew(15deg) scale(0.7);
    
}